.ModoNocturno button{height:35px;width:35px;background:rgba(var(--color));box-shadow:0 ​0 17px 5px rgba(var(--color),.5);color:rgb(var(--background))!important;padding:0;}
.ModoNocturno button svg{height:10px!important;width:10px!important;}





